/*-- scss:defaults --*/

// fonts (https://doimspp.sharepoint.com/sites/fws-FF09R00000/SitePages/Comms-Visual-Identity-Landing.aspx)
$font-family-sans-serif: "Lato Light";
$font-family-monospace: "Lato Light";
$bs-body-font-family: "Lato Light";
$web-font-path: "";

// colors
$body-bg: #02426D;
$body-color: #fff;
$link-color: #42affa;

// headings
$presentation-heading-font: "Lato Black";


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

// load fonts
/* lato-black */
@font-face {
  font-family: "Lato Black";
  src: url("/fonts/Lato-Black.ttf");
}
/* lato-regular */
@font-face {
  font-family: "Lato Regular";
  src: url("/fonts/Lato-Regular.ttf");
}
/* lato-light */
@font-face {
  font-family: "Lato Light";
  src: url("/fonts/Lato-Light.ttf");
}